/*Universal Selector, change font family and font size*/

* {
	font-family: fantasy;
	font-size: 20px;
}

/*Type Selector,  h1 tag fonts size changed*/
h1 {
	font-size: 30px;
}


/*ID Selector, h2 tag changed to Uppercase */
#learn-things {
	text-transform: uppercase;
}

/*Class Selector, list class background color changed */
.languages-to-learn {
	background-color: skyblue;
}

/*Attributes Selector, border of list of tools to be used changed*/
li[type] {
	border-width: 1px;
	border-style: solid;
	border-color: darkgrey;
	width: 90%;
}

/*Adjacent Sibling Selector, changed the style type of the list*/

img + ul {
	list-style-type: none;
}

/*Descendant Selector, changed the dimension of the image*/
section img {
	border-radius: 240px;
}

/*Generic Sibling Selector, changed the alignment of the last paragraph*/
ul ~ p {
	text-align: center;
}

/*Child Selector, changed the letter spacing of the lists*/
body > section > ul > li {
	letter-spacing: 10px;
}





